$primary-color: #880E4E;
$light-primary-color: rgba(136, 14, 78, 0.85);
$sun-color: #FFCC80;
$light-sun-color: rgba(255, 204, 128, 0.85);
$white-txt-color: #fff;
$gray-btn-txt-color: #777;
$gray-bg-color: #f7f7f7;
$light-black-color: rgba(0, 0, 0, 0.85);
$black: #000;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// FONT
$default-font-size: 1.6rem;